[submodule "stm32l432"]
	path = stm32l432
	url = ../tde-stm32l432.git
[submodule "nrf52"]
	path = nrf52
	url = ../tde-nrf52.git
[submodule "msp430g2553"]
	path = msp430g2553
	url = ../tde-msp430g2553.git
